<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/head-site ::head-site"></header>

<div class="container mt-5">
    <h1 th:text="${title}"></h1>
    <div class="title">
        <p class="display-4">Мои навыки на данный момент</p>
        <ul class="list-group">
            <li>Java core</li>
            <li>OOP</li>
            <li>Maven</li>
            <li>Spring boot(other spring frameworks are coming soon)</li>
            <li>Html (basic)</li>
            <li>CSS(lvl look at google how it's working and add)</li>
            <li>Github(basic)</li>
            <li>Intellij Idea</li>
        </ul>
    </div>
    <div class="title">
        <p class="display-4">Собираюсь изучать в ближайщее время</p>
        <ul class="list-group">
            <li>Java more deep</li>
            <li>Spring boot, spring data, spring security, spring framework, spring cloud</li>
            <li>Html middle</li>
            <li>CSS middle</li>
            <li>Github(for work)</li>
            <li>Javascript</li>
            <li>And more, other look on work</li>
        </ul>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>