<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/head-site ::head-site"></header>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Example</h1>
                <p class="lead text-muted"> Функционал кнопкам не придуман, но они есть))</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Исполняет какую-то функцию</a>
                    <a href="#" class="btn btn-secondary my-2">Too something doing</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://media1.giphy.com/media/l0HlSBFa5Z9onGbcc/giphy.gif">

                        <div class="card-body">
                            <p class="card-text">This first image on this web site</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://i.pinimg.com/originals/3b/10/d8/3b10d80308a5534fb90c1a4ab251887c.jpg">
                        <div class="card-body">
                            <p class="card-text">Code is funny.GO in IT.</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                       <img src="https://sun1-28.userapi.com/s/v1/if1/oBCb71VdD_Q9nimf7ZwDTg75n229uHxhq_s0BsrIj3jVzs07JqFCWLzbglBbrgFTG4LrT7rn.jpg?size=200x0&quality=96&crop=230,0,640,640&ava=1">
                        <div class="card-body">
                            <p class="card-text">Button "View" redirect on Vkontakte author's profile</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://vk.com/livemarker"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://sun9-43.userapi.com/impg/DaZmewgS7nVS3lknL44TRzqhnNycWljI8dJcSw/sRqnAG56jLU.jpg?size=674x674&quality=96&sign=62352c385413899a32c0421d275018e7&type=album">
                        <div class="card-body">
                            <p class="card-text">Button "View" redirect on Vkontakte sister's profile</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://vk.com/reikae"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="col">
                <div class="card shadow-sm">
                    <img src="https://i.mycdn.me/i?r=AzEOxUXG5QgodWC3x6hM10CkWIAajgk71VRS9mhLianGGIIFd-YQ_PlxKB3QdI_hYLY&fn=sqr_288">
                    <div class="card-body">
                        <p class="card-text">Button "View" redirect on Odnoclassniki mother's profile</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="https://ok.ru/druchek75"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://i.mycdn.me/i?r=AzEOxUXG5QgodWC3x6hM10Ckg_zaJvGNScWSJ2a0DZyg5TIQ6qcuipgR9GT6ROJzvQU&fn=sqr_288">
                        <div class="card-body">
                            <p class="card-text">Button "View" redirect on Odnoclassniki father's profile</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://ok.ru/profile/511637513411"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>